<hr />
<div style="text-align: right;">
    Share on<br />
    <a href="https://www.reddit.com/submit?title={{ page.title }}&url={{ page.url | absolute_url }}">
        <b>Reddit</b>
    </a> |
    <a href="https://news.ycombinator.com/submitlink?t={{ page.title }}&u={{ page.url | absolute_url }}">
        <b>Hacker News</b>
    </a> |
    <a href="https://twitter.com/intent/tweet?text={{ page.title }} {{ page.url | absolute_url }}&via={{ site.author.twitter }}">
        <b>Twitter</b>
    </a>
</div>
